p {
    text-align: center;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
.a{
    text-align: center;
}
div.container-fluid{
    background-color:lavender;
    text-align: center;
}
p.col-sm-3{
    color:burlywood;
    text-align: left;
}
p.col-sm-2{
    color:deepskyblue;
    text-align: left;
}
p.col-sm-4{
    color:darksalmon;
    text-align: left;
}
h3:hover{
    background-color:orchid;
    color:rgb(240, 227, 240);
}
div.container-lg{
    background-color:steelblue;
    text-align: center;
}